.home-container {
  width: 100vw;
  height: 100vh;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
}
.nav-bar-item {
  cursor: default;
  color: #8eb849;
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
  transition: color 0.5s;
  text-align: center;
  transition: color 0.5s ;
}
